PORT=3000
MONGO_URI=mongodb://localhost:27017/deus
JWT=TU_SECRETO_AQUI

# Tiempo de retención de datos en MongoDB (TTL). Ejemplos: '2d', '60d', '1y'
LIVE_DATA_RETENTION=2d
HISTORIC_DATA_RETENTION=60d
